/* font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: black;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}
nav {
    background-color: grey;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
    /* Acomodar los elementos en la linea */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    /* display block y alinear texto en conjunto para centrarlo */
}

nav ul li a:hover {
    background-color: rgb(87, 87, 87);
}

footer {
    background-color: rgb(189, 188, 188);
    text-align: center;
    padding: 2px;
    margin-top: 20px;
}

nav ul li a.activo {
    background-color: rgb(88, 88, 88)
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: blue;
    font-weight: 400;
}

.columnas {
    display: flex;
 justify-content: space-between;   
}

.bienvenidos {
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(128, 255, 255);
}

.instructor {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(181, 230, 154);
}

/* inicio escuelas */
.ryuha p {
font-size: 18px;
}

.nueveescuelas {
   display: flex;
   flex-wrap: wrap;
   
}

.escuela {
    border: 1px solid white;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    background-color: aquamarine;
}

.escuela img {
    border-radius: 10%;
    max-width: 60%;
    box-shadow: 0 0 5px black;
}

.escuela p {
    font-size: 13px;
    }

/* fin escuelas */