<h1>{{title}}</h1>
{{#if conocido}}
<p><b>Hola {{nombre}} </b><a href="/salir"><b> Salir </b></a></p>
{{/if}}

{{#unless conocido}}
<p><b>No te conozco</b></p>
<form action="/ingresar" method="post">
<input type="text"
 name="nombre"><button> ingresar </button>
</form>
{{/unless}}